%header-1 {
  font-family: "Literata", serif;
  font-weight: 700;
  font-size: 52px;
  line-height: 56px;
  color: $main-text-color;
}

%header-2 {
  font-family: "Literata", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: $main-text-color;
}

%header-3 {
  font-family: "Literata", serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 40px;
  color: $main-text-color;
}

%mobile-header {
  font-family: "Literata", serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  color: $main-text-color;
}

%title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 32px;
  color: $main-text-color;
}

%small-title {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: $main-text-color;
}

%body-2 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $second-text-color;
}

%body-2-semibold {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $second-text-color;
}

%tagline {
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: $button-color;
}

%button-text {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: $main-text-color;
}

%tag {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: $main-text-color;
}




%secondary-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: $second-text-color;
}

%menu-text {
  font-family: "Poppins", sans-serif;
  color: $header-text-color;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

%main-text {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: $second-text-color;
  line-height: 150%;
  text-decoration: none;
}

%number-text {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-align: center;
  color: $color-blue;
}
