@import 'bootstrap';
@import './utils/normalize';
@import './utils/variables';
@import './utils/mixins';
@import './utils/fonts';
@import './utils/typography';

@import './blocks/main';
@import './blocks/currencies';
@import './blocks/price-selector';
@import './blocks/progress-bar';
@import './blocks/plan';

.page {
  background-color: $light-background;
  padding: 60px 20px;

  font-family: 'Literata', serif;
}

.last-opt {
  background-color: magenta;
  display: flex;
  flex-direction: column;
}
