@import 'bootstrap';
@import './utils/normalize';
@import './utils/variables';
@import './utils/mixins';
@import './utils/fonts';
@import './utils/typography';

@import './blocks/main';
@import './blocks/currencies';
@import './blocks/price-selector';
@import './blocks/progress-bar';
@import './blocks/plan';
@import './blocks/features';

.page {
  padding: 60px 20px;
  margin: 0 auto;
  max-width: 1160px;
  background-color: $light-background;

  font-family: 'Literata', serif;
}
