.currencies {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 40px;

  @include onDesktop {
    margin: 0;
  }

  &__currency {
    @extend %tag;
    text-transform: uppercase;
    cursor: pointer;

    &--selected {
      color: $button-color;
    }
  }

  &__pump {
    @extend %tag;
    color: #DDDEE5;
  }
}
