.progress-bar {
  display: none;
  
  @include onDesktop {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    overflow: visible;
  }

  &__users {
    @extend %small-title;
    position: absolute;
    transform: translate(-50%, -40px);
  }

  &__price {
    @extend %small-title;
    background-color: #fff;

    position: absolute;
    transform: translate(-50%, 16px);
  }
  
  &__input {
    min-height: 20px;
    width: 100%;

    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

    &::-moz-range-track {
      border-radius: 40px;
      height: 6px;
      background-color: #DDDEE5;
      cursor: pointer;
    }

    &::-webkit-slider-runnable-track {
      border-radius: 40px;
      height: 6px;
      background-color: #DDDEE5;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      background-color: $button-color;
      border: 1px solid $button-color;
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      margin-top: -7px;
      width: 20px;
      height: 20px;
      border-radius: 100%;
      border: 1px solid $button-color;
      background-color: $button-color;
      cursor: pointer;
    }
  }

  &__datalist {
    display: flex;
    justify-content: space-between;

    @extend %body-2;
    font-size: 14px;
    line-height: 20px;

    color: #B3B7C7;
  }
}
